<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel = "stylesheet" href = "assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Octocat Lumpy Space</title>
  </head>
  <body>

<!-- HEADER -->
    <div class = "header">
      <span id="githubLG"><i class="fa fa-github" aria-hidden="true"></i></span>
      <form id="topSearch">
        <input class="searchBox" placeholder="Search GitHub"></input>
      </form>
    <div class="navLinks">
      <ul class="topNavbar">
        <li class="topNavlink"><a href="#">Pull requests</a></li>
        <li class="topNavlink"><a href="#">Issues</a></li>
        <li class="topNavlink"><a href="#">Gist</a></li>
        <li class ="plus"><i class="fa fa-plus" aria-hidden="true"></i><li>
        <li><span><img id="smallPic" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt="" /></span></li>
      </ul>

    </div>
    </div>

<div class="mainWrap">


<!-- setting up grid draft -->
<div class="contentWrapper">

<!-- SIDEBAR -->
<div class="SBuser_info">
</div>
<script id="gh-user-template" type="text/html">

  <div class="sidebarWrapper">
    <img id="profPic" src="<%- m.avatar_url %>" alt="" />

    <div class="picBorder">
      <h1 id="lo_name"><%- m.name %></h1>
      <h3 id="lo_login"><%- m.login %></h3>
    </div>

    <div>
    <ul class = "octocatInfo">
      <li><i class="fa fa-users" aria-hidden="true"></i><%- m.company %></li>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i><text class = "infoText"><%- m.location %></text></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i><text class = "infoText"><%- m.email %></text></li>
      <li><i class="fa fa-link" aria-hidden="true"></i><text class = "infoText"><%- m.blog %></text></li>
      <li><i class="fa fa-clock-o" aria-hidden="true"></i><%- m.created_at %></li>
    </ul>
  </div>

      <!--Octospacecat's Stats, Yo-->

    <ul class = "stats">
      <li class="li_stats">
        <span class="bigStats"><%- m.followers %></span>
        <span class="lilStats">Followers</span></li>
      <li class="li_stats">
        <span class="bigStats"><%- m.followers %></span>
        <span class="lilStats">Starred</span></li>
      <li class="li_stats">
        <span class="bigStats"><%- m.following %></span>
        <span class="lilStats">Following</span></li>
    </ul>
  </div>
</script>
<!-- RIGHT SIDE CONTENT -->
  <div class = "miniWrapper">
    <div class="midNavbar_wrap">
      <ul id="midNavbar_left">
        <li><i class="fa fa-male repoBooki" aria-hidden="true"></i>Overview</li>
        <li><i class="fa fa-book repoBooki" aria-hidden="true"></i>Repositories</li>
        <li><i class="fa fa-rss repoBooki" aria-hidden="true"></i>Public Activity</li>
      </ul>

      <ul id="midNavbar_right">
        <li><button type ="button" id="followButton">Follow</button></li>
        <li><button type="button" id="blockButton">Block or report</button>
          <div class="miniModal">
          <!--PUT MODAL HERE-->
          </div>
        </li>
      </ul>
    </div>

    <div class="repoRapper">
      <h4>Popular repositories</h4>
      <ul>

        <li class="popRepos"><i class="fa fa-book popBooki" aria-hidden="true"></i>Fin the human</li>
          <li class="popInfo">Fin is a human</li>

        <li class="popRepos"><i class="fa fa-book popBooki" aria-hidden="true"></i>Jake the dog</li>
          <li class="popInfo">Jake is a dog</li>

        <li class="popRepos"><i class="fa fa-book popBooki" aria-hidden="true"></i>Princess Bubblegum</li>
          <li class="popInfo">Princess is bubblegum</li>

        <li class="popRepos"><i class="fa fa-book popBooki" aria-hidden="true"></i>Lumpy Space Princess</li>
          <li class="popInfo">Space is lumpy</li>

        <li class="popRepos"><i class="fa fa-book popBooki" aria-hidden="true"></i>Beemo</li>
          <li class="popInfo">Beemo is the $*#!</li>

      </ul>
    </div>



  </div>


</div>

<script type="text/javascript" src="assets/js/lumpySpace.js">

</script>
  </body>
</html>
