* {
    box-sizing: border-box;
}

html{
  font: 100%;
}

body{
  font-size: 1em;
  color: grey;
  padding: 0;
  margin: 0;
  background: white;
  text-align: center;
  font-family: sans-serif;
}



/*HEADER*/
.header{
  background-color: #f5f5f5;
  border-bottom: solid 1px #c6c6c6;
  position: relative;
  padding: .5em;
  font-size: .9em;
}

.topNavbar{
  display: flex;
}

#topSearch{
  display: inline-block;
}

.searchBox{
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 2px;
}

.topNavlink{
  font-weight: bold;
  padding: 0 .2em 0 .2em;
}

a:link{
  color: black;
  text-decoration: none;
  background-color: none;
}

a:hover{
  cursor: pointer;
  color: #4078c0;
}


/*CONTENT*/

.sidebarWrapper{
  display: inline-block;
  width: 20%;
  margin-top: 1em;
}

.picBorder{
  border-bottom: solid .09em #ddd;
  padding-bottom: .2em;
}

img{
  background-color: plum;
  width: 250px;
  height: 200px;
  padding-top: 1em;
}

#githubLG{
  display: inline-block;
  padding-right: 1em;
}

.navLinks{
  padding: 1em;
  display: inline-block;
}

.rightNav{
  padding: 0 0 0 30em;
  display: inline-block;
}

h1{
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding-bottom: .2em;
}

h3{
  font-size: 1.5em;
  text-align: left;
}

.octocatInfo{
  font-size: 1em;
  padding: .30em;
  text-align: left;
  border-bottom: solid .09em #ddd;
}


.octocatInfo i{
  margin: 0 1em 0 0;
}

.octaStats{
  padding-top: .20em;
  display: flex;
}

.bigStats{
  padding-top: .2em;
}

.littleStats{
  padding-top: .6em;
  float: left;
  padding-left: none;
}

/*MIDDLE WRAPPERS*/
.miniWrapper{
  position: relative;
  display: inline-block;
  width: 50%;
}
.midNavbar_wrap{
  margin-bottom: 1em;
  position: relative;
}

/*MIDDLE NAV BAR*/




#midNavbar_left{
  float: left;
  margin: 1em 1em 1em 0;
}

#midNavbar_left:hover{
  cursor: pointer;
}
#midNavbar_left > li{
  display: inline-block;;
  padding-left: 1em;
}
a:hover{
  cursor: pointer;
  color: #4078c0;
}
#midNavbar_right{
  display: inline-flex;
  margin: 1em;
}

#midNavbar_right > li{
  padding: 0 .4em;
}

#followButton{
  padding: .2em .4em;
  background-color: #7fd162;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
}
#blockButton{
  padding: .2em .4em;
  background-color: #f5f5f5;
  color: black;
  font-size: 1em;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
}



/*POPULAR REPOSITORIES*/
.repoRapper{
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}

h4{
  color: black;
  position: relative;
  padding: 0.7em 0 0.7em 0;
  text-align: left;
  font-weight: bold;
  background-color: #dddddd;
}

.popRepos{
  padding: 1em .5em 0.4em 0.5em;
  text-align: left;
  font-weight: bold;
  color: #4078c0;
}

i{
  color: black;
}

.popBooki:before{
  margin: 0 1em 0 0;
}

.repoBooki{
  padding-right: 0.5em;
  margin-top: 1em;
}

.popInfo{
  border-bottom: 1px solid #c6c6c6;
  padding-left: 3em;
  text-align: left;
  color: #848484;
  font-weight: lighter;
  font-size: .8em;
}
