* {
    box-sizing: border-box;
}

html{
  font: 100%;
}

body{
  font-size: 1em;
  color: grey;
  padding: 0;
  margin: 0;
  background: white;
  text-align: center;
  font-family: 'helvetica', sans-serif;
}

/*HEADER*/
.header{
  padding: .5em 0;
  background-color: #f5f5f5;
  border-bottom: solid 1px #c6c6c6;
  position: relative;
  font-size: .9em;
}

.topNavbar{
  display: flex;
}

#topSearch{
  display: inline-block;
}

.searchBox{
  box-shadow: 0px 0px 4px 1px #eeeeee inset;
  width: 30em;
  height: 3em;
  border: 1px solid #dddddd;
  border-radius: 2px;
  margin: .25em;
  padding: .6em .3em .6em .5em;
}

.topNavlink{
  font-weight: bold;
  padding: 0 .25em 0 .25em;
  margin: .5em;
}

.plus{
  color: black;
  display: inline-block;
  margin-left: 30em;
  padding: .5em 1em 0 0;
  font-weight: lighter;
}

.lumpySpace{
  width: 10px;
  height: 10px;
}

a:link{
  color: black;
  text-decoration: none;
  background-color: none;
}

a:hover{
  cursor: pointer;
  color: #4078c0;
}


.SBuser_info{
  display: inline-block;
}

/*CONTENT*/
.mainWrap{
  display: block;
  width: 100%;
}

.contentWrapper{
}

.sidebarWrapper{
  display: inline-block;
  margin: 0em 0 2em 0;
  padding: 1em;
}

.picBorder{
  border-bottom: solid .09em #ddd;
  padding-bottom: .2em;
}

#smallPic{
  margin-top: .25em;
  background-color: plum;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

#profPic{
  text-align: left;
  border-radius: 10px;
  background-color: plum;
  width: 250px;
  height: 250px;
}

img:hover{
  cursor: pointer;
}

#githubLG{
  padding-right: .1em;
  display: inline-block;
  font-size: 2.5em;
  color: black;
  vertical-align: -20%;
}

.navLinks{
  display: inline-block;
}

.rightNav{
  padding: 0 0 0 30em;
  display: inline-block;
}

h1{
  font-weight: 600;
  font-size: 2em;
  text-align: left;
  padding-bottom: .2em;
}

h3{
  font-size: 1.5em;
  text-align: left;
  color:#909090;
  font-weight: 100;
}

.octocatInfo{
  font-size: 1em;
  padding: .30em;
  text-align: left;
  border-bottom: solid .09em #ddd;
}

.octocatInfo i{
  margin: 0 1em 0 0;
  color: #909090;
  text-align: left;
}

.octocatInfo:not(i){
  text-align:left;
  margin: .25em;
}

.infoText{
  padding-left: .25em;
}

.stats{
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: #4078c0;
  display: flex;
}

.stats li{
  padding: 1em;
}

.stats:hover{
  cursor: pointer;
}

.li_stats{
  display: block;
}

.bigStats{
  font-size: 2em;
  display: block;
}

.lilStats{
  padding: 0 .3em 0 .3em;
  float: left;
  display: flex;
  font-weight: 100;
  font-size: .7em;
}

.lilStats li{
  padding: 0 .45em 0 .45em;
}

/*MIDDLE WRAPPERS*/
.miniWrapper{
  vertical-align: top;
  position: relative;
  display: inline-block;
}
.midNavbar_wrap{
  margin: 0 .25em;
  display: inline-block;
  position: relative;
}

/*MIDDLE NAV BAR*/

#midNavbar_left{
  vertical-align: top;
  display: inline-block;
  /*border: 1px solid grey;*/
}

#midNavbar_left:hover{
  display: inline-block;
  cursor: pointer;
}
#midNavbar_left > li{
  margin: 1em -0.2em;
  padding: 1em 1em;
  /*border: 1px solid grey;*/
  display: inline-block;;
}

#overview{
  border-radius: 3px;
  border-top: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
}
#repositories{
  border-bottom: 1px solid #c6c6c6;
  margin: 0;
}
#activity{
  border-bottom: 1px solid #c6c6c6;
}

a:hover{
  cursor: pointer;
  color: #4078c0;
}
#midNavbar_right{
  padding: 0.75em 0em .6em 10em;
  margin: 1em -.1em;
  border-bottom: 1px solid #c6c6c6;
  vertical-align: top;
  /*border: 1px solid grey;*/
  display: inline-block;
}

#midNavbar_right > li{
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 0 .4em;
}

#followButton{
  text-shadow: 0.3px 0.3px black;
  box-shadow: 0px 0px 5px 2px #5cc038 inset;
  padding: .25em .5em;
  background-color: #7fd162;
  color: white;
  font-size: 1em;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #55b234;
}

#blockButton{
  text-shadow: 0.3px 0.3px grey;
  box-shadow: 0px 0px 5px 2px #eeeeee inset;
  padding: .25em .5em;
  background-color: #f5f5f5;
  color: black;
  font-size: 1em;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
}



/*POPULAR REPOSITORIES*/
.repoRapper{
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}

h4{
  color: black;
  position: relative;
  padding: 0.7em 0 0.7em 1em;
  text-align: left;
  font-weight: bold;
  background-color: #dddddd;
}

.popRepos{
  padding: 1em .5em 0.4em 0.5em;
  text-align: left;
  font-weight: bold;
  color: #4078c0;
}

.popRepos i{
  color: #909090;
}

.popBooki:before{
  margin: 0 1em 0 0;
}

.repoBooki{
  padding-right: 0.5em;
}

.popInfo{
  border-bottom: 1px solid #c6c6c6;
  padding: 0 0 1em 3em;
  text-align: left;
  color: #848484;
  font-weight: lighter;
  font-size: .8em;
}
